/*style de html > id > class > selectores de tipos*/
/*!important*/
/*
.sin-subrayado {
  text-decoration: none;
}

a {
  text-decoration: purple wavy underline;
}

#titulo {
  color: purple;
}

.texto-azul {
  color: blue;
}

#enlace-principal {
  color: green;
  text-decoration: green wavy underline;
}

.sin-subrayado {
  color: blue;
  text-decoration: none;
}
*/

/*
.texto-azul {
  color: #000 !important;
}

#titulo {
  color: black;
}

*/
